body{
    font-family: sans-serif;
}
.myform{
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 300px;
    margin: 10% auto;
    border-radius: 8px;
    box-shadow: 1px 1px 8px rgb(202, 201, 201);
    padding: 10px;
}

.form-group{
    margin: 15px 0;
}

.form-group input{
    width: 92%;
    padding: 10px;
    background-color: aliceblue;
    border: none;
    border-radius: 8px;
}

.form-group button{
    width: 40%;
    padding: 10px;
    background-color: rgb(111, 111, 158);
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}